@import url('https://fonts.googleapis.com/css2?family=Armata&family=Great+Vibes&family=Pacifico&display=swap');

:root{
   --primaryorange: #E7332B;
   --navColor: #585757;
   --white: #FFFDF5;
   --grey: #E0DED7;
   --green: #43b97f;
   --pink: #FDF3F2;
}
*{
   margin: 0;
   max-width: 100%;
   box-sizing: border-box;
}
body{
   font-family: 'Armata', 'sans serif';
   font-weight: 500;
   font-size: 18px;
   margin: auto!important;
   user-select: none;
}
.nav-cont{
   display: flex;
   padding: .5rem;
   width: 90%;
   background-color: #fff;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   max-width: 1440px;
   position: fixed;
   z-index: 1100;
   top: 0px;
   left: 0;
   right: 0px;
}
.nav-items{
   list-style: none;
   display: flex;
   gap: 1rem;
   align-items: center;
}
.zurimain{
   padding: 0;
   text-decoration: none;
   color: inherit;
}
.links{
   padding: 11px 35px!important;
}
.hire{
   background-color: var(--primaryorange);
   color: var(--white);
   padding: 11px 35px;
   align-self: center;
   border-radius: 0 0 8px 0;
   text-align: center;
   border: none;
   font-size: 18px;
}
.btn2{
   background-color: var(--navColor);
}

/* .logo{
   min-height: 64px;
} */

/* ======HERO STYLING ====== */
.hero{
   margin: auto;
   position: relative;
   padding: 150px 0 3rem;
}
.herodiv{
   max-width: 1440px;
   width: 90%;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 3rem;
   align-items: center;
   justify-content: space-between;
}
.hero-img{
   width: 80%;
   float: right;
}
.herodesi{
   position: relative;
   margin: 1rem 0;
   width: max-content;
}
.txt{
   margin: 1rem auto;
}
.span-text{
   color: var(--primaryorange);
}
.herodive--left,
.herodiv-right{
   padding: 2rem;
}
.yellow{
   position: absolute;
   bottom: -15px;
   right: -20px;
}
.liyello{
   position: absolute;
   bottom: 80px;
   right: 10px;
   width: 150px;
}

/* ======SECTION 3 ======= */
.section3{
   background-color: var(--pink);
   background-image: url(../images/pinkbg.png);
   background-size: cover;
   padding: 3rem 0;
   line-height: 50px;
}
.countries{
   display: flex;
   align-items: center;
   gap: 1rem;
   padding: 1rem;
   align-items: center;
}
.cntry--card{
   background-color: var(--white);
   padding: .5rem 1rem;
   align-items: center;
}
.cnt{
   height: 50px;
   width: 50px;
   align-self: center;
}
.sec3text2{
   font-size: 19px;
   font-weight: 700;
}
.sec3text3{
   color: var(--navColor);
}

.skill{
   padding: 4rem 0;
}
.skilldiv{
   max-width: 1440px;
   width: 90%;
   margin: auto;
}
.skillset{
   display: grid;
   grid-template-columns: repeat(6,auto);
   grid-template-rows: minmax(max-content, auto);
   align-items: center;
   gap: 1rem;
   text-align: center;
   flex: 1fr 1fr 1fr;
}
.gift{
   padding: 1rem 1.4rem;
   border-radius: 10px;
   background: #fff;
   margin: 2rem 0;
   box-shadow: 0 8px 30px hsla(0,0%,48%,.16);
   transition: all .4s ease-in-out;
}
.gift:hover{
   margin-top: .3rem;
}
/* ====== SECTION HIRE TALENT ====== */
.hiretalent{
   background-color: #FFF8E5;
   padding: 4rem 0 2rem;
   text-align: center;
}
.hiretaldiv{
   max-width: 1440px;
   width: 90%;
   margin: auto;
}
.hireh1{
   margin-bottom: 4rem;
}
.griddiv{
   display: grid;
   max-width: 1440px;
   width: 90%;
   margin: auto;
   grid-template-areas: 
   "grid1 grid1 grid2 grid2 grid3 grid3"
   "n grid4 grid4 grid5 grid5 b";
   vertical-align: middle;
   grid-gap: 16px;
}
.gridd{
   background-color: #fff;
   padding: 45px 1rem;
   border-radius: 0 0 16px 0;
  
}
.gridd:hover{
   background-color: #000;
   color: #fff;
   transition: all .2s ease-in-out;
}
.grid1{
   grid-area: grid1;
}
.grid2{
   grid-area: grid2;
}
.grid3{
   grid-area: grid3;
}
.grid4{
   grid-area: grid4;
}
.grid5{
   grid-area: grid5;
}
.buttonbtm{
   display: block;
}
footer{
   background: #000;
   color: #fff;
   padding: 2rem;
}
.footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   padding: 2rem 0 0;
   max-width: 1440px;
   margin: auto;
   font-size: 16px;
   font-weight: 400;
}
.socials{
   display: flex;
   gap: 10px;
}
.icons{
   width: 30px;
}
/* ==========MEDIA QUERIES ======== */
@media(max-width:1000px){
   .griddiv{
      grid-template-areas: 
      "grid1 grid2"
      "grid3 grid4"
      "grid5 grid5";
   }
   .skillset{
      grid-template-columns: repeat(3, auto);
   }
}
@media(max-width: 890px){
   .links{
      display: none;
   }
   .herodiv{
      display: flex;
      flex-direction: column;
      justify-content: center;
     
   }
   .herodive--left{
      text-align: center;
   }
   .herodesi{
      margin: auto;
      margin-bottom: 2rem;
   }
   .herodiv-right{
      margin: auto;
   }
   .hero-img{
      display: block;
      float: none;
      margin: auto;
   }
   .countries{
      justify-content: center;

   }
}
@media(max-width:600px){
   .griddiv{
    display: block;
   }
   .gridd{
      margin: 1rem auto;
   }
   .skillset{
      grid-template-columns: repeat(2, auto);
   }
   .footer{
      flex-direction: column;
      gap: 20px;
   }
   .copy{
      flex-direction: column-reverse;
   }
   .cpr{
      border-top: 1px solid var(--navColor);
      padding-top: 1rem;
   }
}